@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Rubik+Iso&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');

body {
    background-color: #F3CFC6;
    font-family: "Rubik Iso", sans-serif;
}

h1 {
    color: #A95C68;
    font-family: "Sour Gummy", serif;
    font-size: 30px;
    text-align: center;
}

canvas {
    width: 100%;
    height: 300px;
    background-color: #f4f4f4;
}

div {
    margin: 30px;
}

.graph-containers {
    background-color: #FFF5EE;
    border: 1px solid #A95C68;
    margin-bottom: 20%;
    margin-right: 20%;
    margin-left: 20%;
}

.chart {
    border: 2px solid #A95C68;
    padding: 20px;
    text-align: center;
}

#title {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
}

/* Navigation Bar */
nav {
    background-color: #A95C68;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Sour Gummy", serif;
    font-size: 30px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    margin-top: 10px;
    background-color: #A95C68;
    color: white;
    font-family: "Sour Gummy", serif;
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #8C4D57; 
}
